.vscode
.vscode-test/**
out/**
node_modules/**
src/**
package-lock.json
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
tsconfig.json
eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.history
*.log
*.code-workspace
media/joint.js
