.vscode
.vscode-test/**
out/**
node_modules/**
src/*.ts
src/test/**
src/views/uml/umlTest*
src/views/uml/example*
src/views/uml/icons
package-lock.json
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
tsconfig.json
eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.history
*.log
*.code-workspace
media/joint.js
media/*.gif
media/nodeuml-large.png
